body {
  font-size: 16px;
}

#zap-title {
  padding: 5px 0 5px 6px;
  cursor: pointer;
  color: #000;
  text-decoration: none;
  font-size: 1.2em;
  border-radius: 5px;
}

#zap-title img {
  width: 28px;
  height: 28px;
  margin-bottom: 3px;
  pointer-events: none;
}

#content-wrap {
  margin: 0 auto;
  max-width: 955px;
}

.small {
  font-size: 0.8em;
}

#sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 200px;
  padding: 15px 15px 0 15px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#sidebar::-webkit-scrollbar { 
  display: none;
}

#sidebar a {
  display: block;
  padding: 4px 10px;
  color: #181818;
  font-size: 0.9em;
  cursor: pointer;
  border-radius: 5px;
}
#sidebar a:hover, #zap-title:hover {
  background-color: #f2f2f2;
  text-decoration: none;
}
#sidebar a.selected {
  font-weight: 700;
}

#sidebar hr {
  margin: 12px 10px;
}

#panel {
  padding-right: 25px;
  margin-left: 230px;
}

h1, h2 {
  margin-top: 1.1em;
  margin-bottom: 0;
}
h2:first-of-type {
  margin-top: 0.7em;
}
h3, h4, h5, h6 {
  margin-bottom: 13px;
}

h1 { font-size: 3em }
h2 { font-size: 2em }
h3 { font-size: 1.75em }
h4 { font-size: 1.42em }
h5 { font-size: 1.22em }
h6 { font-size: 1.1em }

p, ul, ol, dl, blockquote, table {
  margin-bottom: 19px;
}

hr {
  margin: 8px 0 19px;
}

blockquote {
  border: 0.5px solid #888;
  border-left-width: 4px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 8px 10px;
  font-size: 0.97em;
}
blockquote > p {
  margin-bottom: 0;
}
blockquote > p:before {
  content: "Note: ";
  font-weight: 500;
}

.table-sm.w400 { max-width: 400px }
.table-sm.w500 { max-width: 500px }
.table-sm.w600 { max-width: 600px }

#panel a {
  color: #105fb8;
}
#panel a code {
  pointer-events: none;
}

pre, code {
  font-size: 0.88em;
  font-family: 'Source Code Pro', monospace;
}

pre {
  overflow: auto;
  border-radius: 5px;
  margin-bottom: 19px;
  background-color: #282c34;
  padding: 8px 10px;
}

pre.indent {
  margin-left: 40px;
}

code {  
  color: #333;
  padding: 2px 6px;
  background-color: #f0f0f0;
  border-radius: 3px;
  font-weight: 700;
  white-space: nowrap;
}

pre > code {
  padding: 0;
  background-color: transparent;
  color: #dedede;
  font-weight: 400;
  white-space: pre;
}


/* ----- narrow screen ----- */

@media (max-width: 954.98px) {
  #panel {
    margin-left: 210px;
  }
}

@media (max-width: 767.98px) {
  body {
    font-size: 15px;
  }
  #sidebar {
    width: 170px;
  }
  #panel {
    margin-left: 180px;
  }
}

@media (max-width: 575.98px) {
  body {
    font-size: 14px;
  }
  #sidebar {
    width: 140px;
    padding: 15px 10px 0 10px;
  }
  #panel {
    margin-left: 150px;
    padding-right: 20px;
  }
}


/* ----- Zap highlighting, colors matched to Zap playground ----- */

.zap-javascript  { color: #abb2bf }
.zap-comment     { color: #7f848e; font-style: italic }
.zap-number      { color: #d19a66 }
.zap-literal     { color: #d19a66 }
.zap-string      { color: #98c379 } 
.zap-regexp      { color: #56b6c2 } 
.zap-variable    { color: #e5c07b }
.zap-keyword     { color: #c678dd } 
.zap-operator    { color: #c678dd } 
.zap-punctuation { color: #abb2bf }
.zap-identifier  { color: #e06c75 }